body{
    margin: 0;
    background-color: #eee;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.title{
    padding: 15px;
    text-align: center;
    color: white;
    background-color: #1190f7;
    margin-bottom: 10px;
    font-size: 20px;
}

.choose{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    gap: 10px;
    margin: 0 auto 10px;
    width: 70%;
}
.choose li{
    padding: 6px 10px;
    background-color: #09ad85;
    color: white;
    cursor: pointer;
}
.active{
    background-color: red !important;
}

.myPage{
    width: 70%;
    text-align: center;
    margin: auto;
    display: none;
}
.myPage >*{
    margin-bottom: 10px;
}

.show{
    background-color: white;
    padding: 10px;
    font-size: 15px;
}
.show .level,.show .time{
    color: #09ad85;
}

.currentWord{
    font-size: 40px;
    color: #1190f7;
    font-weight: bold;
    user-select: none;
    display: none;
}

.start{
    color: white;
    background-color: #09ad85;
    padding: 10px;
    cursor: pointer;
}

input.enter{
    border: 2px solid #1190f7;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    background-color: white;
}

.leftWord{
    list-style: none;
    background-color: white;
    color: #6d6969;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.5s;
}

.leftWord li{
    background-color: #1190f7;
    padding: 5px;
    color: white;
}

.pass{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 15px;
    color: #6d6969;
}

.fail{
    color: red;
    font-weight: bold;
    font-size: 30px;
    display: none;
}


.again,.another{
    border: solid 2px #1190f7;
    padding: 5px 10px;
    font-size: 17px;
    background-color: white;
    cursor: pointer;
}
.fail-opt{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    padding: 10px;
    display: none;
}


.congrat{
    font-size: 25px;
    color: #1190f7;
    font-weight: bold;
    display: none;
}